@model ProfileVM
<div class="page-content">
	<div class="holder breadcrumbs-wrap mt-0">
		<div class="container">
			<ul class="breadcrumbs">
				<li><a asp-controller="Home" asp-action="index">Home</a></li>
				<li><span>My account</span></li>
			</ul>
		</div>
	</div>
	<div class="holder">
		<div class="container">
			<div class="row">
				<div class="col-md-4 aside aside--left">
					<div class="list-group">
						<a asp-controller="Account" asp-action="details" class="list-group-item active">Account Details</a>
						<a asp-action="index" asp-controller="order" class="list-group-item">My Wishlist</a>
						<a asp-action="myorder" asp-controller="account" class="list-group-item">My Order History</a>
						<a href="#" class="list-group-item disabled">My Reviews</a>
					</div>
				</div>
				<div class="col-md-14 aside">
					<h1 class="mb-3">Account Details</h1>
					<div class="row vert-margin">
						<div class="col-sm-9">
							<div class="card">
								<div class="card-body">
									<h3>Personal Info</h3>
									<p>
										<b>Fullname:</b> @Model.FullName<br>
										<b>Username:</b> @Model.UserName<br>
										<b>E-mail:</b>@Model.Email<br>
									
									</p>
									<div class="mt-2 clearfix">
										<a href="#" class="link-icn js-show-form" data-form="#updateDetails"><i class="icon-pencil"></i>Edit</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card mt-3 d-none" id="updateDetails">
						<form class="card-body" asp-action="Details" method="post">
							<h3>Update Account Details</h3>
							<div class="row mt-2">
								<div class="col-sm-9">
									<label asp-for=UserName class="text-uppercase"></label>
									<div class="form-group">
										<input asp-for="UserName" class="form-control form-control--sm" placeholder="@Model.UserName">
									</div>
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-sm-9">
									<label asp-for="Email" class="text-uppercase"></label>
									<div class="form-group">
										<input asp-for="Email" class="form-control form-control--sm" placeholder="@Model.Email">
									</div>
								</div>
								<div class="col-sm-9">
									<label class="text-uppercase">Current Password"</label>
									<div class="form-group">
										<input asp-for="CurrentPassword" class="form-control form-control--sm">
									</div>
								</div>
								<div class="col-sm-9">
									<label  class="text-uppercase">New Password</label>
									<div class="form-group">
										<input asp-for="NewPassword" class="form-control form-control--sm">
									</div>
								</div>
								<div class="col-sm-9">
									<label class="text-uppercase">Confirm New Password"</label>
									<div class="form-group">
										<input asp-for="ConfirmNewPassword" class="form-control form-control--sm">
									</div>
								</div>
							</div>
							<div class="mt-2">
								<button type="submit" class="btn ml-1">Update</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>