@using BackEndProject.Utilities.Enum;
@using P230_Pronia.ViewModels.Cookies;
@inject BackEndProject.Services.LayoutService layoutService
@{
	Dictionary<string, string> settings = layoutService.GetSettings();
	var baskets = layoutService.GetBasketItem();
	var basket = layoutService.GetBasketItems();
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Foxic HTML Template - Index Page</title>
	<link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.ico" />
	<!-- Vendor CSS -->
	<link href="~/assets/css/vendor/bootstrap.min.css" rel="stylesheet">
	<link href="~/assets/css/vendor/vendor.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="~/assets/css/style.css" rel="stylesheet">
	<!-- Custom font -->
	<link href="~/assets/fonts/icomoon/icons.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Open%20Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<title>@ViewBag.Title</title>
</head>
<body class="has-smround-btns has-loader-bg equal-height">
	<!--header-->
	<header class="hdr-wrap">
		<div class="hdr-content hdr-content-sticky">
			<div class="container">
				<div class="row">
					<div class="col-auto show-mobile">
						<!-- Menu Toggle -->
						<div class="menu-toggle"> <a href="~/assets/#" class="mobilemenu-toggle"><i class="icon-menu"></i></a> </div>
						<!-- /Menu Toggle -->
					</div>
					<div class="col-auto hdr-logo">
						<a style="width:100px;height:100px;object-fit:contain" href="~/assets/index.html" class="logo"><img src="~/assets/images/@settings["Logo"]" alt="Logo"></a>
					</div>
					<!--navigation-->
					<div class="hdr-nav hide-mobile nav-holder-s">
					</div>
					<!--//navigation-->
					<div class="hdr-links-wrap col-auto ml-auto">
						<div class="hdr-inline-link">
							<!-- Header Search -->
							<div class="search_container_desktop">
								<div class="dropdn dropdn_search dropdn_fullwidth">
									<a href="~/assets/#" class="dropdn-link  js-dropdn-link only-icon"><i class="icon-search"></i><span class="dropdn-link-txt">Search</span></a>
									<div class="dropdn-content">
										<div class="container">
											<form method="post" action="#" class="search search-off-popular">
												<input name="search" type="text" class="search-input input-empty" placeholder="What are you looking for?">
												<button type="submit" class="search-button"><i class="icon-search"></i></button>
												<a asp-controller="home" asp-action="search" class="search-close js-dropdn-close"><i class="icon-close-thin"></i></a>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- /Header Search -->
							<!-- Header Wishlist -->
							<div class="dropdn dropdn_wishlist">
								<a href="~/assets/account-wishlist.html" class="dropdn-link only-icon wishlist-link ">
									<i class="icon-heart"></i><span class="dropdn-link-txt">Wishlist</span><span class="wishlist-qty">3</span>
								</a>
							</div>
							<!-- /Header Wishlist -->
							<!-- Header Account -->
							<div class="dropdn dropdn_account dropdn_fullheight">
								<a href="~/assets/#" class="dropdn-link js-dropdn-link js-dropdn-link only-icon" data-panel="#dropdnAccount"><i class="icon-user"></i><span class="dropdn-link-txt">Account</span></a>
							</div>
							<!-- /Header Account -->
							<div class="dropdn dropdn_fullheight minicart">
								<a href="~/assets/#" class="dropdn-link js-dropdn-link minicart-link only-icon" data-panel="#dropdnMinicart">
									<i class="icon-basket"></i>
									<span class="minicart-qty">3</span>
									<span class="minicart-total hide-mobile">$@basket.Sum(e=>e.UnitPrice*e.SaleQuantity)</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hdr">
			<div class="hdr-topline hdr-topline--dark js-hdr-top">
				<div class="container">
					<div class="row flex-nowrap">
						<div class="col hdr-topline-left hide-mobile">
							<!-- Header Social -->
							<div class="hdr-line-separate">
								<ul class="social-list list-unstyled">
									<li>
										<a href="~/assets/#">@Html.Raw(settings["FacebookIcon"])</a>
									</li>
									<li>
										<a href="~/assets/#">@Html.Raw(settings["TwitterIcon"])</a>
									</li>
									<li>
										<a href="~/assets/#">@Html.Raw(settings["GoogleIcon"])</a>
									</li>
									<li>
										<a href="~/assets/#">@Html.Raw(settings["InstagramIcon"])</a>
									</li>
									<li>
										<a href="~/assets/#">@Html.Raw(settings["VimeoIcon"])</a>
									</li>
									<li>
										<a href="~/assets/#">@Html.Raw(settings["LinkedinIcon"])</a>
									</li>
								</ul>
							</div>
							<!-- /Header Social -->
						</div>
						<div class="col hdr-topline-center">
							<div class="custom-text js-custom-text-carousel" data-slick='{"speed": 1000, "autoplaySpeed": 3000}'>
								<div class="custom-text-item"><i class="icon-fox"></i> Use promocode <span>FOXIC</span> to get 15% discount!</div>
								<div class="custom-text-item"><i class="icon-air-freight"></i> <span>Free</span> plane shipping over <span>$250</span></div>
								<div class="custom-text-item"><i class="icon-gift"></i> Today only! Post <span>holiday</span> Flash Sale! 2 for $20</div>
							</div>
						</div>
						<div class="col hdr-topline-right hide-mobile">
							<div class="hdr-inline-link">

								<!-- Header Language -->
								<div class="dropdn_language">
									<div class="dropdn dropdn_language dropdn_language--noimg dropdn_caret">
										<a href="~/assets/#" class="dropdn-link js-dropdn-link"><span class="js-dropdn-select-current">English</span><i class="icon-angle-down"></i></a>
										<div class="dropdn-content">
											<ul>
												<li class="active"><a href="~/assets/#"><img src="~/assets/images/flags/en.png" alt="">English</a></li>
												<li><a href="~/assets/#"><img src="~/assets/images/flags/sp.png" alt="">Spanish</a></li>
												<li><a href="~/assets/#"><img src="~/assets/images/flags/de.png" alt="">German</a></li>
												<li><a href="~/assets/#"><img src="~/assets/images/flags/fr.png" alt="">French</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Header Language -->
								<!-- Header Currency -->
								<div class="dropdn_currency">
									<div class="dropdn dropdn_caret">
										<a href="~/assets/#" class="dropdn-link js-dropdn-link">US dollars<i class="icon-angle-down"></i></a>
										<div class="dropdn-content">
											<ul>
												<li class="active"><a href="~/assets/#"><span>US dollars</span></a></li>
												<li><a href="~/assets/#"><span>Euro</span></a></li>
												<li><a href="~/assets/#"><span>UK pounds</span></a></li>

											</ul>
										</div>
									</div>
								</div>
								<!-- /Header Currency -->
								<div class="hdr_container_desktop">
									<!-- Header Account -->
									<div class="dropdn dropdn_account dropdn_fullheight">
										<a href="~/assets/#" class="dropdn-link js-dropdn-link" data-panel="#dropdnAccount"><i class="icon-user"></i><span class="dropdn-link-txt">Account</span></a>
									</div>
									<!-- /Header Account -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hdr-content">
				<div class="container">
					<div class="row">
						<div class="col-auto show-mobile">
							<!-- Menu Toggle -->
							<div class="menu-toggle"> <a href="~/assets/#" class="mobilemenu-toggle"><i class="icon-menu"></i></a> </div>
							<!-- /Menu Toggle -->
						</div>
						<div class="col-auto hdr-logo">
							<a style="width:100px;height:100px;object-fit:contain" asp-controller="home" asp-action="index" class="logo"><img src="~/assets/images/@settings["Logo"]" alt="Logo"></a>

						</div>
						<!--navigation-->
						<div class="hdr-nav hide-mobile nav-holder justify-content-center px-4">
							<!--mmenu-->
							<ul class="mmenu mmenu-js">
								<li class="mmenu-item--simple">
									<a asp-controller="home" asp-action="index" class="active">Home</a>

								</li>
								<li class="mmenu-item--simple">
									<a asp-controller="product" asp-action="index">Shop</a>

								</li>
								@*ozum ucun qeyd*@
								<li><a href="~/assets/category.html">Accessories<span class="menu-label">SALE</span></a></li>
								<li class="mmenu-item--mega">
									<a href="~/assets/category.html">Men</a>
									<div class="mmenu-submenu mmenu-submenu--has-bottom">
										<div class="mmenu-submenu-inside">
											<div class="container">
												<div class="mmenu-left width-25">
													<div class="mmenu-bnr-wrap">
														<a href="~/assets/#" class="image-hover-scale"><img src="~/assets/data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="images/menu/mmenu-bnr-01.png" class="lazyload fade-up" alt=""></a>
													</div>
													<h3 class="submenu-title"><a href="~/assets/category.html">Pre-Collection<br>Spring-Summer 2021</a></h3>
												</div>
												<div class="mmenu-cols column-4">
													<div class="mmenu-col">
														<h3 class="submenu-title"><a href="~/assets/category.html">Collections</a></h3>
														<ul class="submenu-list">
															<li><a href="~/assets/category.html">Martins d'Art 2020/21<span class="submenu-link-txt">Available in boutiques from June 2019</span></a></li>
															<li><a href="~/assets/category.html">Spring-Summer 2021<span class="submenu-link-txt">Available in boutiques from March 2019</span></a></li>
															<li><a href="~/assets/category.html">Spring-Summer 2021 Pre-Collection<span class="submenu-link-txt">In boutiques</span></a></li>
															<li><a href="~/assets/category.html">Cruise 2020/21<span class="submenu-link-txt">In boutiques</span></a></li>
															<li><a href="~/assets/category.html">Fall-Winter 2020/21</a></li>
														</ul>
													</div>
													<div class="mmenu-col">
														<h3 class="submenu-title"><a href="~/assets/category.html">Ready-to-wear</a></h3>
														<ul class="submenu-list">
															<li>
																<a href="~/assets/category.html" class="active">Jackets</a>
																<ul class="sub-level">
																	<li><a href="~/assets/category.html">Bomber Jackets</a></li>
																	<li><a href="~/assets/category.html">Biker Jacket</a></li>
																	<li><a href="~/assets/category.html">Trucker Jacket</a></li>
																	<li><a href="~/assets/category.html">Denim Jackets</a></li>
																	<li><a href="~/assets/category.html">Blouson Jacket<span class="menu-label">SALE</span></a></li>
																	<li><a href="~/assets/category.html">Overcoat</a></li>
																	<li><a href="~/assets/category.html">Trench Coat</a></li>
																</ul>
															</li>
															<li><a href="~/assets/category.html">Dresses<span class="menu-label menu-label--color3">SALE</span></a></li>
															<li><a href="~/assets/category.html">Blouses & Tops</a></li>
															<li><a href="~/assets/category.html">Cardigans & Pullovers</a></li>
															<li><a href="~/assets/category.html">Skirts</a></li>
															<li><a href="~/assets/category.html">Pants & Shorts</a></li>
															<li><a href="~/assets/category.html">Outerwear</a></li>
															<li><a href="~/assets/category.html">Swimwear</a></li>
														</ul>
													</div>
													<div class="mmenu-col">
														<h3 class="submenu-title"><a href="~/assets/category.html">Accessories</a></h3>
														<ul class="submenu-list">
															<li><a href="~/assets/category.html">Jackets</a></li>
															<li><a href="~/assets/category.html">Dresses</a></li>
															<li><a href="~/assets/category.html">Blouses & Tops</a></li>
															<li><a href="~/assets/category.html">Cardigans & Pullovers</a></li>
															<li><a href="~/assets/category.html">Skirts<span class="menu-label">SALE</span></a></li>
															<li><a href="~/assets/category.html">Pants & Shorts</a></li>
															<li><a href="~/assets/category.html">Outerwear</a></li>
														</ul>
													</div>
													<div class="mmenu-col">
														<h3 class="submenu-title"><a href="~/assets/category.html">Brands</a></h3>
														<ul class="submenu-list">
															<li><a href="~/assets/category.html">Jackets</a></li>
															<li><a href="~/assets/category.html">Dresses</a></li>
															<li><a href="~/assets/category.html">Blouses & Tops</a></li>
															<li><a href="~/assets/category.html">Cardigans & Pullovers</a></li>
															<li><a href="~/assets/category.html">Skirts<span class="menu-label menu-label--color1">SALE</span></a></li>
															<li><a href="~/assets/category.html">Pants & Shorts</a></li>
															<li><a href="~/assets/category.html">Outerwear</a></li>
														</ul>
													</div>
													<div class="mmenu-bottom justify-content-center">
														<a href="~/assets/#"><i class="icon-fox icon--lg"></i><b>FOXshop News</b><i class="icon-arrow-right"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
								<li class="mmenu-item--mega">
									<a href="~/assets/category.html">Women</a>
									<div class="mmenu-submenu mmenu-submenu--has-bottom">
										<div class="mmenu-submenu-inside">
											<div class="container">
												<div class="mmenu-right width-25">
													<div class="mmenu-bnr-wrap">
														<a href="~/assets/#" class="image-hover-scale"><img src="~/assets/data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="images/menu/mmenu-bnr-02.png" class="lazyload fade-up" alt=""></a>
													</div>
													<h3 class="submenu-title"><a href="~/assets/category.html">Pre-Collection<br>Spring-Summer 2021</a></h3>
												</div>
												<div class="mmenu-cols column-4">
													<div class="mmenu-col">
														<h3 class="submenu-title"><a href="~/assets/category.html">Collections</a></h3>
														<ul class="submenu-list">
															<li><a href="~/assets/category.html">Martins d'Art 2020/21<span class="submenu-link-txt">Available in boutiques from June 2019</span></a></li>
															<li><a href="~/assets/category.html">Spring-Summer 2021<span class="submenu-link-txt">Available in boutiques from March 2019</span></a></li>
															<li><a href="~/assets/category.html">Spring-Summer 2021 Pre-Collection<span class="submenu-link-txt">In boutiques</span></a></li>
															<li><a href="~/assets/category.html">Cruise 2020/21<span class="submenu-link-txt">In boutiques</span></a></li>
															<li><a href="~/assets/category.html">Fall-Winter 2020/21</a></li>
														</ul>
													</div>
													<div class="mmenu-col">
														<h3 class="submenu-title"><a href="~/assets/category.html">Ready-to-wear</a></h3>
														<ul class="submenu-list">
															<li><a href="~/assets/category.html">Jackets</a></li>
															<li><a href="~/assets/category.html">Dresses<span class="menu-label menu-label--color3">SALE</span></a></li>
															<li>
																<a href="~/assets/category.html">Blouses & Tops</a>
																<ul>
																	<li><a href="~/assets/category.html">Jackets</a></li>
																	<li><a href="~/assets/category.html">Dresses<span class="menu-label menu-label--color3">SALE</span></a></li>
																	<li>
																		<a href="~/assets/category.html">Blouses & Tops</a>
																		<ul>
																			<li><a href="~/assets/category.html">Jackets</a></li>
																			<li>
																				<a href="~/assets/category.html">Dresses<span class="menu-label menu-label--color3">SALE</span></a>
																				<ul>
																					<li><a href="~/assets/category.html">Jackets</a></li>
																					<li>
																						<a href="~/assets/category.html">Dresses<span class="menu-label menu-label--color3">SALE</span></a>
																						<ul>
																							<li><a href="~/assets/category.html">Jackets</a></li>
																							<li><a href="~/assets/category.html">Dresses<span class="menu-label menu-label--color3">SALE</span></a></li>
																							<li><a href="~/assets/category.html">Blouses & Tops</a></li>
																							<li><a href="~/assets/category.html">Cardigans & Pullovers</a></li>
																							<li><a href="~/assets/category.html">Skirts</a></li>
																							<li><a href="~/assets/category.html">Pants & Shorts</a></li>
																							<li><a href="~/assets/category.html">Outerwear</a></li>
																							<li><a href="~/assets/category.html">Swimwear</a></li>
																						</ul>
																					</li>
																					<li><a href="~/assets/category.html">Blouses & Tops</a></li>
																					<li><a href="~/assets/category.html">Cardigans & Pullovers</a></li>
																					<li><a href="~/assets/category.html">Skirts</a></li>
																					<li><a href="~/assets/category.html">Pants & Shorts</a></li>
																					<li><a href="~/assets/category.html">Outerwear</a></li>
																					<li><a href="~/assets/category.html">Swimwear</a></li>
																				</ul>
																			</li>
																			<li><a href="~/assets/category.html">Blouses & Tops</a></li>
																			<li><a href="~/assets/category.html">Cardigans & Pullovers</a></li>
																			<li><a href="~/assets/category.html">Skirts</a></li>
																			<li><a href="~/assets/category.html">Pants & Shorts</a></li>
																			<li><a href="~/assets/category.html">Outerwear</a></li>
																			<li><a href="~/assets/category.html">Swimwear</a></li>
																		</ul>
																	</li>
																	<li><a href="~/assets/category.html">Cardigans & Pullovers</a></li>
																	<li><a href="~/assets/category.html">Skirts</a></li>
																	<li><a href="~/assets/category.html">Pants & Shorts</a></li>
																	<li><a href="~/assets/category.html">Outerwear</a></li>
																	<li><a href="~/assets/category.html">Swimwear</a></li>
																</ul>
															</li>
															<li><a href="~/assets/category.html">Cardigans & Pullovers</a></li>
															<li><a href="~/assets/category.html">Skirts</a></li>
															<li><a href="~/assets/category.html">Pants & Shorts</a></li>
															<li><a href="~/assets/category.html">Outerwear</a></li>
															<li><a href="~/assets/category.html">Swimwear</a></li>
														</ul>
													</div>
													<div class="mmenu-col">
														<h3 class="submenu-title"><a href="~/assets/category.html">Accessories</a></h3>
														<ul class="submenu-list">
															<li><a href="~/assets/category.html">Jackets</a></li>
															<li><a href="~/assets/category.html">Dresses</a></li>
															<li><a href="~/assets/category.html">Blouses & Tops</a></li>
															<li><a href="~/assets/category.html">Cardigans & Pullovers</a></li>
															<li><a href="~/assets/category.html">Skirts<span class="menu-label">SALE</span></a></li>
															<li><a href="~/assets/category.html">Pants & Shorts</a></li>
															<li><a href="~/assets/category.html">Outerwear</a></li>
														</ul>
													</div>
													<div class="mmenu-col">
														<h3 class="submenu-title"><a href="~/assets/category.html">Brands</a></h3>
														<ul class="submenu-list">
															<li><a href="~/assets/category.html">Jackets</a></li>
															<li><a href="~/assets/category.html">Dresses</a></li>
															<li><a href="~/assets/category.html">Blouses & Tops</a></li>
															<li><a href="~/assets/category.html">Cardigans & Pullovers</a></li>
															<li><a href="~/assets/category.html">Skirts<span class="menu-label menu-label--color1">SALE</span></a></li>
															<li><a href="~/assets/category.html">Pants & Shorts</a></li>
															<li><a href="~/assets/category.html">Outerwear</a></li>
														</ul>
													</div>
													<div class="mmenu-bottom justify-content-center">
														<a href="~/assets/#"><i class="icon-fox icon--lg"></i><b>FOXshop News</b><i class="icon-arrow-right"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
							<!--/mmenu-->
						</div>
						<!--//navigation-->
						<div class="hdr-links-wrap col-auto ml-auto">
							<div class="hdr-inline-link">
								<!-- Header Search -->
								<div class="search_container_desktop">
									<div class="dropdn dropdn_search dropdn_fullwidth">
										<a href="~/assets/#" class="dropdn-link  js-dropdn-link only-icon"><i class="icon-search"></i><span class="dropdn-link-txt">Search</span></a>
										<div class="dropdn-content">
											<div class="container">
												<form method="get" action="#" class="search search-off-popular">
													<input name="search" type="text" class="search-input input-empty" placeholder="What are you looking for?">
													<button type="submit" class="search-button"><i class="icon-search"></i></button>
													<a href="~/assets/#" class="search-close js-dropdn-close"><i class="icon-close-thin"></i></a>
												</form>
											</div>
										</div>
									</div>
								</div>
								<!-- /Header Search -->
								<!-- Header Wishlist -->
								<div class="dropdn dropdn_wishlist">
									<a href="~/assets/account-wishlist.html" class="dropdn-link only-icon wishlist-link ">
										<i class="icon-heart"></i><span class="dropdn-link-txt">Wishlist</span><span class="wishlist-qty">3</span>
									</a>
								</div>
								<!-- /Header Wishlist -->
								<div class="hdr_container_mobile show-mobile">
									<!-- Header Account -->
									<div class="dropdn dropdn_account dropdn_fullheight">
										<a href="~/assets/#" class="dropdn-link js-dropdn-link" data-panel="#dropdnAccount"><i class="icon-user"></i><span class="dropdn-link-txt">Account</span></a>
									</div>
									<!-- /Header Account -->
								</div>
								<div class="dropdn dropdn_fullheight minicart">
									<a href="~/assets/#" class="dropdn-link js-dropdn-link minicart-link" data-panel="#dropdnMinicart">
										<i class="icon-basket"></i>
										<span class="minicart-qty">@(baskets is null ? "0" : baskets.Count)</span>
										<span class="minicart-total hide-mobile"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="header-side-panel">
		<div class="dropdn-content account-drop" id="dropdnAccount">
			<div class="dropdn-content-block">
				<div class="dropdn-close"><span class="js-dropdn-close">Close</span></div>
				<ul>
					@if (User.Identity.IsAuthenticated)
					{
						<li><a asp-controller="Account" asp-action="Details"><span>@User.Identity.Name/My Account</span><i class="icon-user2"></i></a></li>
						<li><a href="~/assets/checkout.html"><span>Checkout</span><i class="icon-card"></i></a></li>
						<li><a asp-controller="Account" asp-action="LogOut"><span>Log Out</span><i class="icon-login"></i></a></li>
						@if (User.IsInRole(Roles.Admin.ToString()))
						{
							<li>
								<a asp-area="AdminAreas" asp-controller="size" asp-action="Index"><span>AdminPanel</span><i class="icon-user2"></i></a>

							</li>
						}
					}

					else
					{
						<li><a asp-controller="Account" asp-action="Login"><span>Log In</span><i class="icon-login"></i></a></li>
						<li><a asp-controller="Account" asp-action="Register"><span>Register</span><i class="icon-user2"></i></a></li>
						<li><a asp-controller="Account" asp-action="Login"><span>Checkout</span><i class="icon-card"></i></a></li>
					}
				</ul>

			</div>
			<div class="drop-overlay js-dropdn-close"></div>
		</div>
		<div class="dropdn-content minicart-drop" id="dropdnMinicart">
			<div class="dropdn-content-block">
				<div class="dropdn-close"><span class="js-dropdn-close">Close</span></div>
				<div class="minicart-drop-content js-dropdn-content-scroll">
					@foreach (var item in baskets)
					{
						Product? products = layoutService.GetProducts().FirstOrDefault(p => p.Id == item.ProductId);
						BasketItem? bsk = basket.FirstOrDefault(p => p.ProductSizeColorId == item.ProductSizeColorId);
						if (products is not null)
						{
							<div class="minicart-prd row">
								<div class="minicart-prd-image image-hover-scale-circle col">
									<a href="~/assets/product.html"><img src="~/assets/images/skins/fashion/product-page/@products.ProductImages.FirstOrDefault(x=>x.IsMain==true)?.Path" class="lazyload fade-up" alt=""></a>
								</div>
								<div class="minicart-prd-info col">
									<div class="minicart-prd-tag">FOXic</div>
									<h2 class="minicart-prd-name"><a href="~/assets/#">@products.Name</a></h2>
									<div class="minicart-prd-qty"><span class="minicart-prd-qty-label">Quantity:</span><span class="minicart-prd-qty-value">@item.Quantity</span></div>
									<div class="minicart-prd-price prd-price">
										<div class="price-old">$@products.Price</div>
										<div class="price-new">$@products.DiscountPrice</div>
									</div>
								</div>
								<div class="minicart-prd-action">
									<a asp-controller="Order" asp-action="RemoveBasketItem" asp-route-basketItemId="@bsk.Id" class="product-remove" data-line-number="1"><i class="icon-recycle"></i></a>
								</div>
							</div>
						}
					}
					<div class="minicart-empty js-minicart-empty d-none">
						<div class="minicart-empty-text">Your cart is empty</div>
						<div class="minicart-empty-icon">
							<i class="icon-shopping-bag"></i>
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 306 262" style="enable-background:new 0 0 306 262;" xml:space="preserve"><path class="st0" d="M78.1,59.5c0,0-37.3,22-26.7,85s59.7,237,142.7,283s193,56,313-84s21-206-69-240s-249.4-67-309-60C94.6,47.6,78.1,59.5,78.1,59.5z" /></svg>
						</div>
					</div>
					<a href="~/assets/#" class="minicart-drop-countdown mt-3">
						<div class="countdown-box-full">
							<div class="row no-gutters align-items-center">
								<div class="col-auto"><i class="icon-gift icon--giftAnimate"></i></div>
								<div class="col">
									<div class="countdown-txt">
										WHEN BUYING TWO
										THINGS A THIRD AS A GIFT
									</div>
									<div class="countdown js-countdown" data-countdown="2021/07/01"></div>
								</div>
							</div>
						</div>
					</a>
					<div class="minicart-drop-info d-none d-md-block">
						<div class="shop-feature-single row no-gutters align-items-center">
							<div class="shop-feature-icon col-auto"><i class="icon-truck"></i></div>
							<div class="shop-feature-text col"><b>SHIPPING!</b> Continue shopping to add more products and receive free shipping</div>
						</div>
					</div>
				</div>
				<div class="minicart-drop-fixed js-hide-empty">
					<div class="loader-horizontal-sm js-loader-horizontal-sm" data-loader-horizontal=""><span></span></div>
					<div class="minicart-drop-total js-minicart-drop-total row no-gutters align-items-center">
						<div class="minicart-drop-total-txt col-auto heading-font">Subtotal</div>
						<div class="minicart-drop-total-price col" data-header-cart-total="">$@basket.Sum(e=>e.UnitPrice*e.SaleQuantity)</div>
					</div>
					<div class="minicart-drop-actions">
						<a href="~/assets/cart.html" class="btn btn--md btn--grey"><i class="icon-basket"></i><span>Cart Page</span></a>
						<a href="~/assets/checkout.html" class="btn btn--md"><i class="icon-checkout"></i><span>Check out</span></a>
					</div>
					<ul class="payment-link mb-2">
						<li><i class="icon-amazon-logo"></i></li>
						<li><i class="icon-visa-pay-logo"></i></li>
						<li><i class="icon-skrill-logo"></i></li>
						<li><i class="icon-klarna-logo"></i></li>
						<li><i class="icon-paypal-logo"></i></li>
						<li><i class="icon-apple-pay-logo"></i></li>
					</ul>
				</div>
			</div>
			<div class="drop-overlay js-dropdn-close"></div>
		</div>

	</div>
	<!--//header-->
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<footer class="page-footer footer-style-6 ">
		<div class="holder ">
			<div class="footer-shop-info">
				<div class="container">
					<div class="text-icn-blocks-bg-row">
						<div class="text-icn-block-footer">
							<div class="icn">
								@Html.Raw(settings["DeliveryIcon"])
							</div>
							<div class="text">
								<h4>@settings["DeliveryTitle"]</h4>
								<p>
									@settings["DeliveryDesc"]
								</p>
							</div>
						</div>
						<div class="text-icn-block-footer">
							<div class="icn">
								@Html.Raw(settings["PriceIcon"])
							</div>
							<div class="text">
								<h4>@settings["PriceTitle"]</h4>
								<p>@settings["PriceDesc"]</p>
							</div>
						</div>
						<div class="text-icn-block-footer">
							<div class="icn">
								@Html.Raw(settings["GuarenteeIcon"])

							</div>
							<div class="text">
								<h4>@settings["GuarenteeTitle"]</h4>
								<p>@settings["GuarenteeDesc"]</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-top">
			<div class="container">
				<div class="row mt-0">
					<div class="col-lg col-xl last-mobile">
						<div class="footer-block">
							<div class="footer-logo">
								<a style="width:100px;height:100px;object-fit:contain" href="~/assets/index.html" class="logo"><img src="~/assets/images/@settings["Logo"]" alt="Logo"></a>

							</div>
							<div class="collapsed-content">
								<ul>
									<li>E-mail: <a href="~/assets/mailto:Foxshop@gmail.com">@settings["Email"]</a></li>
									<li>Hours: 10:00 - 18:00, Mon - Fri</li>
								</ul>
							</div>
							<ul class="social-list">
								<li>
									<a href="~/assets/#">@Html.Raw(settings["FacebookIcon"])</a>
								</li>
								<li>
									<a href="~/assets/#">@Html.Raw(settings["TwitterIcon"])</a>
								</li>
								<li>
									<a href="~/assets/#">@Html.Raw(settings["GoogleIcon"])</a>
								</li>
								<li>
									<a href="~/assets/#">@Html.Raw(settings["InstagramIcon"])</a>
								</li>
								<li>
									<a href="~/assets/#">@Html.Raw(settings["VimeoIcon"])</a>
								</li>
								<li>
									<a href="~/assets/#">@Html.Raw(settings["LinkedinIcon"])</a>
								</li>
							</ul>
							<div class="d-lg-none mt-3">
								<div class="box-coupon">
									<div class="box-coupon-icon"><i class="icon-scissors"></i></div>
									<div class="box-coupon-text"><span class="custom-color">FOXIC</span> THEME</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg col-xl">
						<div class="footer-block collapsed-mobile">
							<div class="title">
								<h4>Information</h4>
								<span class="toggle-arrow"><span></span><span></span></span>
							</div>
							<div class="collapsed-content">
								<ul>
									<li><a href="~/assets/about.html">About Us</a></li>
									<li><a href="~/assets/contact.html">Contact Us</a></li>
									<li><a href="~/assets/typography.html">Terms & Conditions</a></li>
									<li><a href="~/assets/typography.html">Returns & Exchanges</a></li>
									<li><a href="~/assets/typography.html">Shipping & Delivery</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg col-xl">
						<div class="footer-block collapsed-mobile">
							<div class="title">
								<h4>Account details</h4>
								<span class="toggle-arrow"><span></span><span></span></span>
							</div>
							<div class="collapsed-content">
								<ul>
									<li><a href="~/assets/account-details.html">My Account</a></li>
									<li><a href="~/assets/cart.html">View Cart</a></li>
									<li><a href="~/assets/account-wishlist.html">My Wishlist</a></li>
									<li><a href="~/assets/account-history.html">Order Status</a></li>
									<li><a href="~/assets/account-history.html">Track My Order</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg col-xl">
						<div class="footer-block collapsed-mobile">
							<div class="title">
								<h4>Safe payments</h4>
								<span class="toggle-arrow"><span></span><span></span></span>
							</div>
							<div class="collapsed-content">
								<ul class="payment-link">
									<li><i class="icon-google-pay-logo"></i></li>
									<li><i class="icon-visa-pay-logo"></i></li>
									<li><i class="icon-apple-pay-logo"></i></li>
								</ul>
							</div>
							<div class="d-none d-lg-block">
								<div class="box-coupon">
									<div class="box-coupon-icon"><i class="icon-scissors"></i></div>
									<div class="box-coupon-text"><span class="custom-color">FOXIC</span> THEME</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom footer-bottom--bg">
			<div class="container">
				<div class="footer-copyright text-center">
					<a href="~/assets/#">FOXshop</a> ©2020 copyright
				</div>
			</div>
		</div>
	</footer>
	<div class="footer-sticky">
		<!--  sticky add to cart -->
		<div class="sticky-addcart js-stickyAddToCart closed">
			<div class="container">
				<div class="row">
					<div class="col-auto sticky-addcart_image">
						<a href="~/assets/product.html">
							<img src="~/assets/images/skins/fashion/products/product-01-1.jpg" alt="" />
						</a>
					</div>
					<div class="col col-sm-5 col-lg-4 col-xl-5 sticky-addcart_info">
						<h1 class="sticky-addcart_title">Leather Pegged Pants</h1>
						<div class="sticky-addcart_price">
							<span class="sticky-addcart_price--actual">$180.00</span>
							<span class="sticky-addcart_price--old">$210.00</span>
						</div>
					</div>
					<div class="col-auto sticky-addcart_options  prd-block prd-block_info--style1">
						<div class="select-wrapper">
							<select class="form-control form-control--sm">
								<option value="">--Please choose an option--</option>
							</select>
						</div>
					</div>
					<div class="col-auto sticky-addcart_actions">
						<div class="prd-block_qty">
							<span class="option-label">Quantity:</span>
							<div class="qty qty-changer">
								<button class="decrease"></button>
								<input type="number" class="qty-input" value="1" data-min="1" data-max="1000">
								<button class="increase"></button>
							</div>
						</div>
						<div class="btn-wrap">
							<button class="btn js-prd-addtocart" data-fancybox data-src="~/assets/#modalCheckOut">
								Add to cart
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--added to cart-->
		<div class="popup-addedtocart js-popupAddToCart closed" data-close="50000">
			<div class="container">
				<div class="row">
					<div class="popup-addedtocart-close js-popupAddToCart-close"><i class="icon-close"></i></div>
					<div class="popup-addedtocart-cart js-open-drop" data-panel="#dropdnMinicart"><i class="icon-basket"></i></div>
					<div class="col-auto popup-addedtocart_logo">
						<img src="~/assets/data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="~/assets/images/logo-white-sm.png" class="lazyload fade-up" alt="">
					</div>
					<div class="col popup-addedtocart_info">
						<div class="row">
							<a href="~/assets/product.html" class="col-auto popup-addedtocart_image">
								<span class="image-container w-100">
									<img src="~/assets/images/skins/fashion/products/product-01-1.jpg" alt="" />
								</span>
							</a>
							<div class="col popup-addedtocart_text">
								<a href="~/assets/product.html" class="popup-addedtocart_title"></a>
								<span class="popup-addedtocart_message">Added to <a href="~/assets/cart.html" class="underline">Cart</a></span>
								<span class="popup-addedtocart_error_message"></span>
							</div>
						</div>
					</div>
					<div class="col-auto popup-addedtocart_actions">
						<span>You can continue</span> <a href="~/assets/#" class="btn btn--grey btn--sm js-open-drop" data-panel="#dropdnMinicart"><i class="icon-basket"></i><span>Check Cart</span></a> <span>or</span> <a href="~/assets/checkout.html" class="btn btn--invert btn--sm"><i class="icon-envelope-1"></i><span>Check out</span></a>
					</div>
				</div>
			</div>
		</div>
		<!--  select options -->
		<div class="sticky-addcart popup-selectoptions js-popupSelectOptions closed" data-close="500000">
			<div class="container">
				<div class="row">
					<div class="popup-selectoptions-close js-popupSelectOptions-close"><i class="icon-close"></i></div>
					<div class="col-auto sticky-addcart_image sticky-addcart_image--zoom">
						<a href="~/assets/#" data-caption="">
							<span class="image-container"><img src="~/assets/#" alt="" /></span>
						</a>
					</div>
					<div class="col col-sm-5 col-lg-4 col-xl-5 sticky-addcart_info">
						<h1 class="sticky-addcart_title"><a href="~/assets/#">&nbsp;</a></h1>
						<div class="sticky-addcart_price">
							<span class="sticky-addcart_price--actual"></span>
							<span class="sticky-addcart_price--old"></span>
						</div>
						<div class="sticky-addcart_error_message">Error Message</div>
					</div>
					<div class="col-auto sticky-addcart_options prd-block prd-block_info--style1">
						<div class="select-wrapper">
							<select class="form-control form-control--sm sticky-addcart_options_select">
								<option value="none">Select Option please..</option>
							</select>
							<div class="invalid-feedback">Can't be blank</div>
						</div>
					</div>
					<div class="col-auto sticky-addcart_actions">
						<div class="prd-block_qty">
							<span class="option-label">Quantity:</span>
							<div class="qty qty-changer">
								<button class="decrease"></button>
								<input type="number" class="qty-input" value="2" data-min="1" data-max="10000">
								<button class="increase"></button>
							</div>
						</div>
						<div class="btn-wrap">
							<button class="btn js-prd-addtocart">Add to cart</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- back to top -->
		<a class="back-to-top js-back-to-top compensate-for-scrollbar" href="~/assets/#" title="Scroll To Top">
			<i class="icon icon-angle-up"></i>
		</a>
		<!-- loader -->
		<div class="loader-horizontal js-loader-horizontal">
			<div class="progress">
				<div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
			</div>
		</div>
	</div>
	<!-- payment note -->
	<div class="footer-sticky">
		<div class="payment-notification-wrap js-pn" data-visible-time="3000" data-hidden-time="3000" data-delay="500"
			 data-from="Aberdeen,Bakersfield,Birmingham,Cambridge,Youngstown"
			 data-products='[{"productname":"Leather Pegged Pants", "productlink":"product.html","productimage":"images/skins/fashion/products/product-01-1.jpg"},{"productname":"Black Fabric Backpack", "productlink":"product.html","productimage":"images/skins/fashion/products/product-28-1.jpg"},{"productname":"Combined Chunky Sneakers", "productlink":"product.html","productimage":"images/skins/fashion/products/product-23-1.jpg"}]'>
			<div class="payment-notification payment-notification--squared">
				<div class="payment-notification-inside">
					<div class="payment-notification-container">
						<a href="~/assets/#" class="payment-notification-image js-pn-link">
							<img src="~/assets/images/products/product-01.jpg" class="js-pn-image" alt="">
						</a>
						<div class="payment-notification-content-wrapper">
							<div class="payment-notification-content">
								<div class="payment-notification-text">Someone purchased</div>
								<a href="~/assets/product.html" class="payment-notification-name js-pn-name js-pn-link">Applewatch</a>
								<div class="payment-notification-bottom">
									<div class="payment-notification-when"><span class="js-pn-time">32</span> min ago</div>
									<div class="payment-notification-from">from <span class="js-pn-from">Riverside</span></div>
								</div>
							</div>
						</div>
					</div>
					<div class="payment-notification-close"><i class="icon-close-bold"></i></div>
					<div class="payment-notification-qw prd-hide-mobile js-prd-quickview" data-src="~/assets/ajax/ajax-quickview.html"><i class="icon-eye"></i></div>
				</div>
			</div>
		</div>
	</div>

	<script src="~/assets/js/vendor-special/lazysizes.min.js"></script>
	<script src="~/assets/js/vendor-special/ls.bgset.min.js"></script>
	<script src="~/assets/js/vendor-special/ls.aspectratio.min.js"></script>
	<script src="~/assets/js/vendor-special/jquery.min.js"></script>
	@RenderSection("Script",false)
	<script src="~/assets/js/vendor-special/jquery.ez-plus.js"></script>
	<script src="~/assets/js/vendor-special/instafeed.min.js"></script>
	<script src="~/assets/js/vendor/vendor.min.js"></script>
	<script src="~/assets/js/app-html.js"></script>
</body>
</html>