@{
	ViewData["Title"] = "Shop Page";
	List<Product> productsAz = ViewBag.ProductsAZ;
	List<Product> productsZa = ViewBag.ProductsZA;
	List<Product> productslow = ViewBag.ProductsLowToHigh;
	List<Product> productshigh = ViewBag.ProductsHighToLow;
	var page = ViewBag.CurrentPage;
	var totalPage = ViewBag.TotalPage;
}



<div class="page-content">
	<div class="holder breadcrumbs-wrap mt-0 ">
		<div class="container">
			<ul class="breadcrumbs d-flex justify-content-center">
				<li><a href="index.html">Home</a></li>
				<li><span>Category</span></li>
			</ul>
		</div>
	</div>
	<div class="holder">
		<div class="container">
			<!-- Two columns -->
			<!-- Page Title -->
			<div class="page-title text-center">
				<h1>WOMEN’S</h1>
			</div>
			<!-- /Page Title -->
			<!-- Filter Row -->
			<div class="filter-row">
				<div class="row">
					<div class="items-count">35 item(s)</div>
					<div class="select-wrap d-none d-md-flex">
						<div class="select-label">SORT:</div>
						<div class="select-wrapper select-wrapper-xxs">
							<select class="form-control input-sm" onchange="filterData(this.value)">
								<option value="az">A-Z</option>
								<option value="za">Z-A</option>
								<option value="low">LowPrice</option>
								<option value="high">HighPrice</option>
							</select>
						</div>
					</div>
				
					<div class="viewmode-wrap">
						<div class="view-mode">
							<span class="js-horview d-none d-lg-inline-flex"><i class="icon-grid"></i></span>
							<span class="js-gridview"><i class="icon-grid"></i></span>
							<span class="js-listview"><i class="icon-list"></i></span>
						</div>
					</div>
				</div>
			</div>
			<!-- /Filter Row -->
			<div class="row">
				<!-- Left column -->
				<div class="col-lg-4 aside aside--left filter-col filter-mobile-col filter-col--sticky js-filter-col filter-col--opened-desktop" data-grid-tab-content>
					<div class="filter-col-content filter-mobile-content">
						<div class="sidebar-block">
							<div class="sidebar-block_title">
								<span>Current selection</span>
							</div>
							<div class="sidebar-block_content">
								<div class="selected-filters-wrap">
									<ul class="selected-filters">
										<li><a href="#">Grey</a></li>
										<li><a href="#">Men</a></li>
										<li><a href="#">Above $200</a></li>
									</ul>
									<div class="d-flex flex-wrap align-items-center">
										<a href="#" class="clear-filters"><span>Clear All</span></a>
										<div class="selected-filters-count ml-auto d-none d-lg-block">Selected <span>6 items</span></div>
									</div>
								</div>
							</div>
						</div>
			
						<div class="sidebar-block filter-group-block open">
							<div class="sidebar-block_title">
								<span>Categories</span>
								<span class="toggle-arrow"><span></span><span></span></span>
							</div>
							<div class="sidebar-block_content">
								<ul class="category-list">
									<li class="active">
										<a href="category.html" title="Casual" class="open">Casual&nbsp;<span>(30)</span></a>
										<div class="toggle-category js-toggle-category"><span><i class="icon-angle-down"></i></span></div>
										<ul class="category-list category-list">
											<li><a href="category.html" title="Men">Men&nbsp;<span>(10)</span></a></li>
											<li><a href="category.html" title="Women">Women&nbsp;<span>(10)</span></a></li>
											<li><a href="category.html" title="Accessories">Accessories&nbsp;<span>(10)</span></a></li>
										</ul>
									</li>
									<li><a href="category.html" title="T-Shirts" class="open">T-Shirts</a></li>
									<li><a href="category.html" title="Medical" class="open">Medical</a></li>
									<li><a href="category.html" title="FoodMarket" class="open">FoodMarket</a></li>
									<li><a href="category.html" title="Bikes" class="open">Bikes&nbsp;<span>(12)</span></a></li>
									<li><a href="category.html" title="Cosmetics" class="open">Cosmetics&nbsp;<span>(16)</span></a></li>
									<li><a href="category.html" title="Fishing" class="open">Fishing&nbsp;<span>(20)</span></a></li>
									<li><a href="category.html" title="Electronics" class="open">Electronics&nbsp;<span>(15)</span></a></li>
									<li><a href="category.html" title="Games" class="open">Games&nbsp;<span>(14)</span></a></li>
								</ul>
							</div>
						</div>
						<div class="sidebar-block filter-group-block collapsed">
							<div class="sidebar-block_title">
								<span>Colors</span>
								<span class="toggle-arrow"><span></span><span></span></span>
							</div>
						</div>
						<div class="sidebar-block filter-group-block collapsed">
							<div class="sidebar-block_title">
								<span>Size</span>
								<span class="toggle-arrow"><span></span><span></span></span>
							</div>
						</div>
						<div class="sidebar-block filter-group-block collapsed">
							<div class="sidebar-block_title">
								<span>Brands</span>
								<span class="toggle-arrow"><span></span><span></span></span>
							</div>
						</div>
						<div class="sidebar-block filter-group-block collapsed">
							<div class="sidebar-block_title">
								<span>Price</span>
								<span class="toggle-arrow"><span></span><span></span></span>
							</div>
						</div>
						<div class="sidebar-block filter-group-block collapsed">
							<div class="sidebar-block_title">
								<span>Popular tags</span>
								<span class="toggle-arrow"><span></span><span></span></span>
							</div>
						</div>
						<a href="https://bit.ly/3eJX5XE" class="bnr image-hover-scale bnr--bottom bnr--left" data-fontratio="3.95">
							<div class="bnr-img">
								<img src="~/assets//banners/banner-collection-aside.png" alt="">
							</div>
						</a>
					</div>
				</div>
				<!-- filter toggle -->
				<div class="filter-toggle js-filter-toggle">
					<div class="loader-horizontal js-loader-horizontal">
						<div class="progress">
							<div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
						</div>
					</div>
					<span class="filter-toggle-icons js-filter-btn"><i class="icon-filter"></i><i class="icon-filter-close"></i></span>
					<span class="filter-toggle-text"><a href="#" class="filter-btn-open js-filter-btn">REFINE & SORT</a><a href="#" class="filter-btn-close js-filter-btn">RESET</a><a href="#" class="filter-btn-apply js-filter-btn">APPLY & CLOSE</a></span>
				</div>
				<!-- /Left column -->
				<!-- Center column -->
				<div class="col-lg aside products-high d-none">
					<div class="prd-grid-wrap">
						<!-- Products Grid -->
						@await Html.PartialAsync("_ProductPartial", productshigh)
						<div class="listing-show-more-wrap d-flex mt-4 mt-md-6 justify-content-center align-items-start">
							<ul class="pagination mt-0">
							@for (int i = 1; i < totalPage; i++)
								{
									<li class="@(page==i?"active" : "")"><a asp-controller="product" asp-action="index" asp-route-page="@i">@i</a></li>

								}
								
							</ul>
						</div>
						<!-- /Products Grid -->
					</div>
				</div>
				<div class="col-lg aside  products-az">
					<div class="prd-grid-wrap">
						<!-- Products Grid -->
						@await Html.PartialAsync("_ProductPartial", productsAz)
						<div class="listing-show-more-wrap d-flex mt-4 mt-md-6 justify-content-center align-items-start">
							<ul class="pagination mt-0">
							@for (int i = 1; i < totalPage; i++)
								{
									<li class="@(page==i?"active" : "")"><a asp-controller="product" asp-action="index" asp-route-page="@i">@i</a></li>

								}
								
							</ul>
						</div>
						<!-- /Products Grid -->
					</div>
				</div>
				<div class="col-lg aside d-none products-za">
					<div class="prd-grid-wrap">
						<!-- Products Grid -->
						@await Html.PartialAsync("_ProductPartial", productsZa)
						<div class="listing-show-more-wrap d-flex mt-4 mt-md-6 justify-content-center align-items-start">
							<ul class="pagination mt-0">
							@for (int i = 1; i < totalPage; i++)
								{
									<li class="@(page==i?"active" : "")"><a asp-controller="product" asp-action="index" asp-route-page="@i">@i</a></li>

								}
								
							</ul>
						</div>
						<!-- /Products Grid -->
					</div>
				</div>
				<div class="col-lg aside products-low d-none">
					<div class="prd-grid-wrap">
						<!-- Products Grid -->
						@await Html.PartialAsync("_ProductPartial", productslow)
						<div class="listing-show-more-wrap d-flex mt-4 mt-md-6 justify-content-center align-items-start">
							<ul class="pagination mt-0">
								@for (int i = 1; i < totalPage; i++)
								{
									<li class="@(page==i?"active" : "")"><a asp-controller="product" asp-action="index" asp-route-page="@i">@i</a></li>

								}

							</ul>
						</div>
						<!-- /Products Grid -->
					</div>
				</div>
				<!-- /Center column -->
			</div>
			<!-- /Two columns -->
		</div>
	</div>
	
</div>

@section Script{
	<script>
		function filterData(value) {
			$('.col-lg.aside').addClass('d-none');

			if (value === 'az') {
				$('.col-lg.aside.products-az').removeClass('d-none');
			} else if (value === 'za') {
				$('.col-lg.aside.products-za').removeClass('d-none');
			} else if (value === 'low') {
				$('.col-lg.aside.products-low').removeClass('d-none');
			} else if (value === 'high') {
				$('.col-lg.aside.products-high').removeClass('d-none');
			}
		}
	</script>
}